/*boje*/
/* h2 naslovi sekcija*/
@import url("https://fonts.googleapis.com/css?family=Rochester");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

.socialmenu {
  text-align: right;
  margin-right: 10px; }
  .socialmenu li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 8px 0 8px;
    font-size: 1.25em;
    height: 100%; }
  .socialmenu a {
    color: black; }

#contact {
  color: darkturquoise; }

#logo {
  margin-top: 5px;
  margin-left: 7px;
  max-width: 180px; }

.search {
  padding-left: 15px;
  margin-top: 5px; }

.naslov_sekcije {
  text-align: center;
  font-family: 'Pacifico', cursive;
  padding: 5px 0; }

.article .thumbnail {
  max-width: 100%;
  padding: 0;
  margin: 0; }
.article .content {
  margin-left: 15px;
  margin-right: 15px; }
.article .tema {
  margin-top: 10px; }
.article .tema a {
  color: darkturquoise;
  text-shadow: grey;
  text-decoration: none; }
.article .read_more a {
  color: darkturquoise;
  text-shadow: grey;
  text-decoration: none; }
.article h3 {
  margin: -5px 0 10px; }
.article .text {
  padding: 0; }

.read_more {
  font-size: 14px; }

.datum {
  text-align: right; }

h3 a {
  color: black;
  font-weight: 800; }
h3 a:hover {
  color: black;
  text-decoration: none; }

.contact {
  background-color: ghostwhite;
  color: darkslategrey;
  padding: 15px 0 10px;
  border-top: 1px solid #F2F2F2; }
  .contact h5 {
    text-align: center; }
  .contact p {
    text-align: center;
    font-size: 0.8em; }
  .contact .tacka {
    color: deeppink; }

footer {
  background-color: black;
  color: gray;
  font-size: 0.8em;
  padding: 15px 0 5px;
  text-align: center; }

.newsletter {
  display: none; }

.ad {
  display: none; }

.search {
  display: none; }

.mob_search {
  text-align: right;
  margin-bottom: 20px;
  padding-right: 20px;
  width: 100%; }
  .mob_search .mob_form {
    border: none;
    border-bottom: 1px solid gainsboro;
    margin-right: 10px;
    background-color: #f9f9f9; }
  .mob_search .mob_button {
    background-color: #f9f9f9;
    border: none; }
  .mob_search input[type="text"]:focus {
    outline: none; }

.ghost {
  display: none; }

@media only screen and (min-width: 768px) {
  .desk {
    display: block; }

  .newsletter {
    display: block; }

  .ad {
    display: block; }

  .media {
    display: none; }

  .mob_search {
    display: none; }

  .search {
    display: block; }

  .no_footer {
    margin: 10px 5% 0; }

  .socialmenu li {
    padding: 10px 0 0 40px; }

  .navbar {
    background-color: white;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gainsboro;
    margin: 0; }
    .navbar #navbar-container {
      margin-right: -40px; }
    .navbar .navbar-nav {
      float: right;
      margin-top: 25px; }

  .flexbox {
    display: flex; }

  .main {
    max-width: 80%; }

  .newsletter {
    max-width: 17%;
    margin-left: 3%;
    margin-top: 80px; }
    .newsletter p {
      font-size: 0.8em; }
    .newsletter h4 {
      font-weight: 200; }
    .newsletter .button {
      background-color: black;
      color: white;
      font-size: 0.9em;
      padding: 5px 0;
      border-radius: 6px;
      border: none; }
    .newsletter .input {
      border-radius: 6px; }
    .newsletter .ads .ad {
      height: 150px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px; }
    .newsletter .ads .one {
      background-color: antiquewhite; }
    .newsletter .ads .two {
      background-color: #d0f0c0; }
    .newsletter .ads .three {
      background-color: aliceblue; }
    .newsletter .ads .four {
      background-color: lightyellow; }

  .may {
    display: flex; }

  .april {
    display: flex; }
    .april .ghost {
      display: block;
      visibility: hidden; }

  .figure {
    padding: 10px 0; }

  #logo {
    max-width: 250px;
    margin-left: -25px; }

  .article .content {
    margin: 0; }

  /* Search bar */
  .search {
    text-align: right;
    margin-top: 40px; }
    .search .form {
      border: none;
      border-bottom: 1px solid gainsboro;
      margin-right: 10px;
      width: 12%; }
    .search .button {
      background-color: white;
      border: none; }
    .search input[type="text"]:focus {
      outline: none; } }
@media only screen and (min-width: 1440px) {
  body p {
    font-size: 1em;
    line-height: 1.6em;
    padding: 5px 0; }
  body .article .tema {
    font-size: 1.1em; }

  .article h3 {
    font-size: 1.7em;
    line-height: 1.1em; }

  .contact {
    font-size: 1.1em; }
    .contact h5 {
      font-size: 1em; }

  .socialmenu a {
    font-size: 1.1em; }

  .navbar-nav li {
    font-size: 1.1em; }

  .newsletter {
    font-size: 1.1em; }
    .newsletter h4 {
      font-size: 1.2em; }

  .fa-search {
    font-size: 1.1em; } }
@media only screen and (min-width: 1920px) {
  body p {
    font-size: 1.2em; }
  body .tema {
    font-size: 1.3em; }
  body .read_more {
    font-size: 0.9em; }

  .article h3 {
    font-size: 1.8em;
    line-height: 1.2em; }

  .socialmenu a {
    font-size: 1.2em; }

  .navbar-nav li {
    font-size: 1.2em; }

  .newsletter {
    font-size: 1.2em; }
    .newsletter h4 {
      font-size: 1.3em; }

  .fa-search {
    font-size: 1.2em; } }
.photo_main {
  margin-top: -30px; }

h1 {
  text-align: center;
  color: white;
  font-weight: 600;
  text-shadow: 2px 0 black, 2px 2px black;
  font-size: 8vw;
  margin-top: -90px; }

.text {
  margin-top: 80px;
  padding-left: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 20px; }
  .text .strong {
    font-weight: 900; }

h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 800; }

.office {
  text-align: center;
  margin-bottom: 40px;
  border-top: 1px solid gainsboro;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 20px; }

.all_contact {
  margin-bottom: 70px; }

.icons {
  padding-right: 5px; }

#map {
  max-width: 100%;
  height: 200px;
  background: grey; }

#text_headline {
  display: none; }

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%; }

  #text_headline {
    display: block; }

  .photo_main {
    margin: 0;
    padding: 0; }

  .text {
    margin: 0;
    margin-left: 2%;
    text-align: center;
    vertical-align: middle;
    border: none;
    width: 30%;
    line-height: 2em; }

  #text_headline {
    margin-bottom: 80px;
    font-weight: 900;
    font-size: 1.5em; }

  .img_text {
    display: flex;
    max-width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto; }

  .figure {
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: relative; }

  h1 {
    font-size: 2em;
    margin: 0;
    position: absolute;
    top: 130px;
    left: 20px;
    width: 200px; }

  .all_contact {
    display: flex;
    justify-content: center;
    margin-top: 20px; }

  .office {
    margin: 0;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    border-bottom: 1px solid gainsboro; }
    .office h2 {
      padding-bottom: 10px; }

  #map {
    max-width: 100%;
    height: 400px;
    background: grey; } }
@media only screen and (min-width: 1000px) {
  h1 {
    width: 300px;
    top: 200px;
    left: 0;
    font-size: 2.5em; } }
@media only screen and (min-width: 1440px) {
  h1 {
    width: 300px;
    top: 230px;
    left: 20px;
    font-size: 3em; }

  #text_headline {
    font-size: 1.5em; }

  h2 {
    font-size: 1.2em; } }
@media only screen and (min-width: 1600px) {
  .img_text {
    margin-left: 10%;
    margin-right: 10%; }

  .text {
    margin-left: 5%; } }
@media only screen and (min-width: 1920px) {
  .img_text {
    margin-left: 15%;
    margin-right: 15%; }

  .text {
    margin-left: 10%; }

  #text_headline {
    font-size: 1.8em; }

  h2 {
    font-size: 1.3em; }

  #office_headline {
    font-size: 1.5em; } }

/*# sourceMappingURL=sass.contact.css.map */
